<footer> <!-- This is a partial file. When the hbs module encounters this in a hbs view, it renders this file as HTML within the view. -->
  <h4>Created by Liam Dyer - Copyright {{ getFullYear }}</h4>
</footer>
