<header> <!-- This is a partial file. When the hbs module encounters this in a hbs view, it renders this file as HTML within the view. -->
  <h1>Liam's First Express Server</h1>
  <table id="header-table">
    <tr>
      <td><a href="/">Home</a></td>
      <td><a href="/about">About</a></td>
      <td><a href="/contact">Contact</a></td>
    </tr>
  </table>
</header>
