<!DOCTYPE html> <!-- This is a Handlebars ('hbs') view. The handlebars module renders this into HTML on runtime -->
<html lang="en">
<head>
  <meta charset="utf-8"/>

  <style rel="stylesheet" type="text/css">
    body{
      margin: 0;
      font-family: "Cascadia Code";
    }
    .main > h1{
      text-align: center;
      margin: 2em;
      font-family: "Cascadia Code";
    }
    h3{
      text-align: center;
      margin: 2em;
      font-family: "Cascadia Code";
    }
    h4{
      font-family: "Cascadia Code";
      text-align: center;
    }
    footer{
      position: absolute;
      bottom: 2.5%;
      width: 100%;
      text-align: center;
    }
    .main{
      margin-top: 13em;
    }
    header{
      position: absolute;
      top: 0;
      width: 100%;
      background: #efefef;
      font-size: 1.4em;
    }
    header:hover{
      background: #8b8b8b;
      cursor: pointer;
    }
    header > h1{
      text-align: center;
    }

    #header-table{
      margin: 0 auto;
      width: 40%;
      table-layout: fixed;
      margin-bottom: 30px;
    }
    td{
      text-align: center;
      background: #dbdbdb;
      border-radius: 2px;
    }
    td:hover{
      color: #e8e8e8;
      background: #212121;
    }
    a{
      text-decoration: none;
      color: #000;
    }
    a:hover{
      color: #e8e8e8;
    }
  </style>
</head>
<body>
  {{> header}}

  <div class="main">
    <h1>{{pageTitle}}</h1>
    <h3 id="number">0460-009-353</h3>
    {{> footer}}
  </div>
</body>
</html> <!-- This is a Handlebars ('hbs') view. The handlebars module renders this into HTML on runtime -->
